<div class="card shadow-sm">
  <img [src]= "'/assets/images/' + livro.imagem + '.jpg'" alt="" class="bd-placeholder-img card-img-top" height="1%" >
<!-- (click)="selecionarImagem(livro.img) -->

  <div class="card-body">
      <section class="card-text">{{ livro.nome }}</section>
      <section class="card-text">{{ livro.categoria }}</section>
      <section class="card-text">{{ livro.quant }}</section>
      <section class="card-text">{{ livro.preco | currency:'BRL' }} </section>

      <div class="btn-group">
        <button type="button" class="btn bt-sm btn-primary">Comprar</button>
        <button type="button" class="btn btn-sm btn-outline-info">Detalhes</button>

      </div>
  </div>

</div>
